<!DOCTYPE html>
<html>
    <head>
      	<meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title></title>
    </head>
    <body>
        <div id="app">
            <header>
                <button id="cart-button" type="button">Корзина <span id="numberOfGoods" ></span></button>
                <div class="search">
                    <button class="search-button" type="button" @click="filterGoods">Искать</button>
                    <input type="text" class="goods-search" v-model="searchLine"/>
                </div>
            </header>
            <main style="">
                <div class="goods-item" v-for="good in filteredGoods">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                    <button  class="AddGoodsButton" type="button">Добавить</button>
                </div>
                <div class="fullCart"></div>
                <h3 class="sum"></h3>
              <!-- <button id="removeCart" >Отчистить корзину</button> --> 
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>



