@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700');

* {
font-family: Montserrat, sans-serif;
}
main {
	text-align: center;
}
header {
	text-align: center
}
#cart-button {
	padding: 10px 15px;
	font-size: 16px;
	background-color:white; 
}
.AddGoodsButton {
	padding:5px;
	background-color:white;
}
#cart-button:active, .AddGoodsButton:active, #removeCart:active, .deleteFromCart:active .addOneMoreToCart:active {
	background-color:#e6e6e6;
}
.fullCart {
	justify-content: space-around;
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: start;
	flex-direction: column;
	align-items: flex-start;

}
.goods-item {
	width: 152px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.AddGoodsButton {
	margin-bottom: 10px;
}
.goods-item {
	margin: 20px;
	padding: 10px;
	border: 1px solid gray;
}
#numberOfGoods {	
	font-size: 10px;
}
.sum {
	text-align: center;
}
.goods-list {
	display: flex; 
	justify-content: space-around; 
	border:1px solid gray;
}
.priceInCart{
	margin-top: 18px;
	margin-left: 10px;
}
.countInCart{
	margin-top: 18px;
	margin-left: 10px;
}
.goodInCart {
	width: 70%;
	align-items: center;
	display: flex;
	padding: 0 14px;
	border: 1px solid gray;
}
.deleteFromCart{
	margin-left: 10px ;
	background-color: white;
}

.addOneMoreToCart {
	margin-left: 10px ;
	background-color: white;
}
#removeCart {
	background-color: white;
	clear: both;
	text-align:center;
}
